.about-us-section{
    background-image: url(../images/reviews.webp);
}
.reviews-container{
    height: fit-content;
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.reviews-card-contianer{
    height: 100%;
    width: 95%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#review-card-main-con{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.review-card{
    width: 500px !important;
}
section.reviews .review-card:before {
    right: -10px;
}
section.reviews .review-card .review-image-name .review-name .h6, section.reviews .review-card .review-image-name .review-name h6 {
    width: 100%;
    font-size: x-large !important;
}
@media(max-width:600px){
 section.reviews .review-card .review-image-name .review-name .h6, section.reviews .review-card .review-image-name .review-name h6 {
    font-size: large !important;
}   
}