#ebook-publishing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/ebook-publishing/service-bg.webp);
}
#book-printing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/book-printing/service-bg.webp);
}
#book-marketing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/book-marketing/service-bg.webp);
}
#book-cover-design{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/book-cover-design/service-bg.webp);
}
#comic-book-publishing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/comic-book-publishing/service-bg.webp);
}
#childrens-book-publishing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/childrens-book-publishing/service-bg.webp);
}
#poetry-and-poem{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/poetry-and-poem-publishing/service-bg.webp);
}
#editing-and-proofreading{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/book-editing-and-proofreading/service-bg.webp);
}
#wikipedia-page-creation{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/wikipedia-page-creation-services/wikipedia-creation-bg.webp);
}
#wikipedia-page-translation{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/wikipedia-page-translation-services/wikipedia-page-translation-bg.webp);
}
#wikipedia-main-and-moni{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/wikipedia-maintenance-and-monitoring/wikipedia-maintenance-bg.webp);
}
#wikipedia-research{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/wikipedia-research-and-copy-writing/wikipedia-research-bg.webp);
}
#kdp-book-publishing{
    background-image: url(https://cdn.bookpublishing.ie/assets/frontend/images/services/book-cover-design/service-bg.webp);
}



.service-after-header-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 30px; /* row and column gap */
}
.service-after-header-ul .listing{
     width: calc(50% - 30px); /* 2 per row */
}
@media(max-width:600px){
    .service-after-header-ul {
    justify-content: center;
}
}

/* Genres` */
.services-genres-main-container{
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
    flex-direction: column;
}
.services-genres-main-container h2{
    text-align: center;
}
.services-genres-inner-container{
    height: fit-content;
    width: 95%;
    max-width: 1200px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services-genres-card{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.services-genres-card h3{
    color: #453894 !important;
    font-size: large !important;
}
.services-genres-card img{
    height: 80px;
    width: auto;
    object-fit: contain;
}